.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 12px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 18px;
  }

  &__icon {
    cursor: pointer;
  }
}
